@use 'styles' as *;

.settingsForm {
  padding: 20px;
  background-color: color(sn-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  .settingsForm__form {
    max-width: 700px;
  }
}
