@use 'styles' as *;

.statusBox {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.pending {
    color: color(sn-red);
    background-color: rgba(255, 85, 75, 0.1);
  }

  &.successful {
    color: color(sn-success);
    background-color: rgba(99, 206, 99, 0.2);
  }

  &.cancelled {
    color: color(sn-black);
    background-color: transparentize(color(sn-black), 0.8);
  }

  &.confirming {
    color: color(sn-black);
    background-color: transparentize(color(sn-primary), 0.8);
  }

  &.booked {
    color: color(sn-black);
    background-color: transparentize(blue, 0.8);
  }
}
