@use 'styles' as *;

.profile {
  .profile__head {
    margin-bottom: 30px;
  }

  .profile__details {
    padding: 10px;
  }

  .profile__header {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .profile__detailsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include maxWidth(breakpoint(tablet)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .profile__detailBox {
    &:first-child {
      grid-column: 1/2;
      grid-row: 1/3;

      @include maxWidth(breakpoint(tablet)) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
