@use './function' as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent; // to remove the bluish background on click
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  zoom:87%;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
