@use 'styles' as *;

.contentMgtLayout {
  .contentMgtLayout__main {
    margin-left: 300px;
    background-color: color(sn-offWhite);
    min-height: 100vh;

    @include maxWidth(breakpoint(laptop)) {
      margin-left: 220px;
    }

    @include maxWidth(breakpoint(tablet)) {
      margin-left: 0;
    }
  }

  .contentMgtLayout__children {
    padding: 30px 0;
  }
}
