.addAccount_modal{
    width: 500px;
    padding: 25px;
}
.iselect {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  select{
    outline: none;
    padding: 15px 25px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: rgba(213, 207, 207, 0.2);
    transition: 0.2s;
    font-family: "Montserrat", sans-serif;
  }
}
