@use 'styles' as *;

.rateCard {
  box-shadow: 0px 4px 8px 2px rgba(32, 32, 32, 0.05);
  border-radius: 5px;
  background-color: color(sn-white);
  padding: 10px;

  @include maxWidth(breakpoint(mobile)) {
    max-width: 400px;
  }

  .rateCard__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .rateCard__topSkeleton {
    max-width: 150px;
    height: 40px;
  }

  .rateCard__countryDiv {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .rateCard__imgDiv {
    width: 50px;
    height: 50px;
  }

  .rateCard__header {
    margin-bottom: 3px;
    font-weight: 500;
  }

  .rateCard__status {
    color: color(sn-success);
  }

  .rateCard__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rateCard__bottomContainer {
    width: 100%;
  }

  .rateCard__bottomSkeletonDiv {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .rateCard__bottomSkeleton {
    height: 30px;
  }

  .rateCard__strong {
    font-weight: 500;
  }
}
